@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@500;600&display=swap);

html,
body {
  background-color: #2a2625 !important;
  color: antiquewhite !important;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 0.1em;
  font-size: 22px;
}

.container {
  margin-top: 20%;
  margin-bottom: 25%;
}
input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  text-align: center;
  padding-bottom: 1.5%;
}

.input {
  width: 500px;
  padding-top: 0.55%;
  color: #2a2625;
  text-align: center;
}

.footer {
  height: auto;
  width: 100%;
  padding: 10px 0px 0px 0px;
  bottom: 0;
  position: absolute;
}

.footer p {
  padding-top: 2px;
  font-size: 13px;
  color: antiquewhite;
  margin-bottom: -1px;
  list-style-type: none;
  padding-left: 2%;
}

img {
  height: 200px;
  margin-left: 45%;
  padding-bottom: 5%;
}
